*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url('./pexels-trungnguyenphotog-2959192.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.logos{

    display: flex;
    color: white;
    gap: 20px;  
    text-align: center;
}
.firstSection
{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

}
.navLinks{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    list-style: none;
    height: 100vh;
    padding-top: 50px;
    background-size: contain ;
}

.logos .icons{
    border: 1px solid white; 
    height: 35px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    height:40px;
    width: 120px;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid white;
    color: white    ;
}
.btn:hover{
    border: none;
}
.blackfilter
{
    background-color: black ;
    opacity: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center; 
    color: black;
    text-align: center;
}
